<div class="row">
	<div class="col-12 mb-4">
		<h2>Contributors</h2>
	</div>
	<div class="col-md-3">
		<div class="card contributor-card mb-3">
			<div class="card-body d-flex flex-column justify-content-center">
				<h4 class="text-center"><span class="letter-highlight">B</span>asil <span class="letter-highlight">B</span>arnaby</h4>
				<div class="contact-links d-flex justify-content-center">
					<a href="https://www.linkedin.com/in/basilbarnaby/" target="_blank" class="contact-link">
						<i class="fa-brands fa-linkedin fa-3x"></i>
					</a>
					<a href="https://github.com/BasilBarnabyCa" target="_blank" class="contact-link">
					<i class="fa-brands fa-github fa-3x"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card contributor-card mb-3">
			<div class="card-body d-flex flex-column justify-content-center">
				<h4 class="text-center"><span class="letter-highlight">M</span>ichael <span class="letter-highlight">A</span>nthony</h4>
				<div class="contact-links d-flex justify-content-center">
					<a href="https://www.linkedin.com/in/ukomichael/" target="_blank" class="contact-link">
						<i class="fa-brands fa-linkedin fa-3x"></i>
					</a>
					<a href="https://github.com/MikeyUko" target="_blank" class="contact-link">
					<i class="fa-brands fa-github fa-3x"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card contributor-card mb-3">
			<div class="card-body d-flex flex-column justify-content-center">
				<h4 class="text-center"><span class="letter-highlight">N</span>icolas <span class="letter-highlight">M</span>illan</h4>
				<div class="contact-links d-flex justify-content-center">
					<a href="https://github.com/NicolasMillan" target="_blank" class="contact-link">
						<i class="fa-brands fa-linkedin fa-3x"></i>
					</a>
					<a href="https://github.com/NicolasMillan" target="_blank" class="contact-link">
					<i class="fa-brands fa-github fa-3x"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-3">
		<div class="card contributor-card mb-3">
			<div class="card-body d-flex flex-column justify-content-center">
				<h4 class="text-center"><span class="letter-highlight">M</span>erik de <span class="letter-highlight">V</span>ree</h4>
				<div class="contact-links d-flex justify-content-center">
					<a href="https://www.linkedin.com/in/merik-de-vree-102896273/" target="_blank" class="contact-link">
						<i class="fa-brands fa-linkedin fa-3x"></i>
					</a>
					<a href="https://github.com/merikdevree" target="_blank" class="contact-link">
					<i class="fa-brands fa-github fa-3x"></i>
					</a>
				</div>
			</div>
		</div>
	</div>
</div>