<div class="row flex-grow-1">
  <div class="col-12 d-flex">
    <div class="card w-100">
      <div class="card-body">
        <h5 class="card-title mb-4">Contributors</h5>
        <ul class="list-group">
          <li class="list-group-item">Contributor 1</li>
          <li class="list-group-item">Contributor 2</li>
          <li class="list-group-item">Contributor 3</li>
          <!-- Add more contributors as needed -->
        </ul>
      </div>
    </div>
  </div>
</div>