<div class="row flex-grow-1">
	<div class="col-lg-3 d-flex">
		<div class="card w-100 history-card">
			<div class="card-body">
				<h5 class="card-title mb-4 history-text">Table of Contents</h5>
				<ul class="navbar-nav navbar-dark ms-1">
					<li class="nav-item nav-category inline-block mb-3">
						<a class="nav-link" href="#documentation">
							Documentation
						</a>
						<ul class="navbar-nav navbar-dark ms-4">
							<li>
								<a class="nav-link" href="#abstract">
									Abstract
								</a>
							</li>
							<li>
								<a class="nav-link" href="#introduction">
									Introduction
								</a>
							</li>
							<li>
								<a class="nav-link" href="#objectives">
									Objectives
								</a>
							</li>
							<li>
								<a class="nav-link" href="#technologies-used">
									Technologies Used
								</a>
							</li>
							<li>
								<a class="nav-link" href="#system-requirements">
									System Requirements
								</a>
							</li>
						</ul>
					</li>
					<li class="nav-item nav-category inline-block mb-3">
						<a class="nav-link" href="#project-setup">
							Project Setup
						</a>
						<ul class="navbar-nav navbar-dark ms-4">
							<li>
								<a class="nav-link" href="#prerequisites">
									Prerequisites
								</a>
							</li>
							<li>
								<a class="nav-link" href="#installation-steps">
									Installation Steps
								</a>
							</li>
							<li>
								<a class="nav-link" href="#environment-configuration">
									Environment Configuration
								</a>
							</li>
						</ul>
					</li>
					<li class="nav-item nav-category inline-block mb-3">
						<a class="nav-link" href="#api-integration">
							API Integration
						</a>
						<ul class="navbar-nav navbar-dark ms-4">
							<li>
								<a class="nav-link" href="#openai-api-integration">
									OpenAI API Integration
								</a>
							</li>
						</ul>
					</li>
					<li class="nav-item nav-category inline-block mb-3">
						<a class="nav-link" href="#database-management">
							Database Management
						</a>
						<ul class="navbar-nav navbar-dark ms-4">
							<li>
								<a class="nav-link" href="#mongodb-setup">
									MongoDB Setup
								</a>
							</li>
							<li>
								<a class="nav-link" href="#resume-upload-handling">
									Resume Upload Handling
								</a>
							</li>
							<li>
								<a class="nav-link" href="#career-path-analysis">
									Career Path Analysis
								</a>
							</li>
							<li>
								<a class="nav-link" href="#error-handling">
									Error Handling
								</a>
							</li>
							<li>
								<a class="nav-link" href="#testing-and-validation">
									Testing and Validation
								</a>
							</li>
							<li>
								<a class="nav-link" href="#conclusion">
									Conclusion
								</a>
							</li>
							<li>
								<a class="nav-link" href="#references">
									References
								</a>
							</li>
						</ul>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-lg-9 d-flex">
		<div class="card w-100">
			<div class="card-body">
				<h2 id="documentation">Documentation</h2>
				<h4 id="abstract" class="mt-3">Abstract</h4>
				<p>CareerCraft is an innovative web application designed to guide users toward suitable career paths
					based on the analysis of their uploaded resumes. Leveraging the power of NodeJS, Express, MongoDB,
					and OpenAI's advanced natural language processing capabilities, CareerCraft offers personalized
					career advice, enhancing the job-seeking experience by providing tailored career path
					recommendations.</p>

				<h4 id="introduction" class="mt-5">Introduction</h4>
				<p>In today's competitive job market, finding the right career path can be a daunting task. CareerCraft
					aims to simplify this process by utilizing state-of-the-art AI technology to analyze resumes and
					suggest optimal career paths for users. By integrating OpenAI's API, the application provides
					insightful and personalized career guidance, helping users make informed decisions about their
					professional futures.</p>

				<h4 id="objectives" class="mt-5">Objectives</h4>
				<ul>
					<li>Analyze User Resumes: Utilize AI to analyze the content of user-uploaded resumes.</li>
					<li>Provide Career Recommendations: Offer personalized career path suggestions based on resume
						analysis.</li>
					<li>Maintain User Interaction History: Store and manage user interaction data using MongoDB.</li>
					<li>Enhance User Experience: Ensure a seamless and user-friendly interface for uploading resumes and
						receiving career guidance.</li>
				</ul>

				<h4 id="technologies-used" class="mt-5">Technologies Used</h4>
				<ul>
					<li>NodeJS: A JavaScript runtime for building server-side applications.</li>
					<li>Express: A minimal and flexible Node.js web application framework.</li>
					<li>MongoDB: A NoSQL database for storing user interaction history.</li>
					<li>OpenAI API: A service for generating AI-based responses and analyzing resume content.</li>
				</ul>

				<h4 id="system-requirements" class="mt-5">System Requirements</h4>
				<ul>
					<li>Operating System: Windows, macOS, or Linux</li>
					<li>NodeJS: Version 14.x or higher</li>
					<li>NPM (Node Package Manager): Version 6.x or higher</li>
					<li>MongoDB: Version 4.x or higher</li>
					<li>OpenAI API Key</li>
				</ul>

				<h3 id="project-setup" class="mt-5">Project Setup</h3>
				<h4 id="prerequisites" class="mt-3">Prerequisites</h4>
				<p>Before setting up the project, ensure you have the following:</p>
				<ul>
					<li>NodeJS and NPM installed</li>
					<li>MongoDB installed and running</li>
					<li>OpenAI API key</li>
				</ul>

				<h4 id="installation-steps" class="mt-5">Installation Steps</h4>
				<ol>
					<li>Clone the repository:
						<div class="card code-card mt-2">
							<div class="card-body">
								<code>cd /path/to/save/project <br></code>
								<code>git clone https://github.com/BasilBarnabyCa/s24-comp-2068-open-ai.git <br></code>
								<code>cd s24-comp-2068-open-ai/</code>
							</div>
						</div>
					</li>
					<li>Install dependencies:
						<div class="card code-card mt-2">
							<div class="card-body">
								<code>npm install</code>
							</div>
						</div>
					</li>
					<li>Configure environment variables:
						<ul>
							<li>Create a <code>.env</code> file in the root directory</li>
							<li>Add your OpenAI API key and MongoDB connection string</li>
						</ul>
					</li>
				</ol>

				<h4 id="environment-configuration" class="mt-5">Environment Configuration</h4>
				<p>Creating a <code>.env</code> file in the root directory and adding the necessary environment
					variables is crucial for the proper functioning of the CareerCraft application.</p>
				<p>An <code>.env.example</code> file is provided in the root of this project to guide users on the
					necessary requirements for the application. To create a <code>.env</code> file from the example
					file, use the terminal in the project directory and run the following command:</p>

				<div class="card code-card mt-2">
					<div class="card-body">
						<code>cp .env.example .env</code>
					</div>
				</div>

				<p class="mt-3">Open the <code>.env</code> file and insert the required keys for the project, such as
					your OpenAI API
					key and MongoDB connection string.</p>

				<div class="card code-card mt-2">
					<div class="card-body">
						<code>OPENAI_API_KEY=your_openai_api_key <br></code>
						<code>CONNECTION_STRING_MONGODB=you_monogodb_connection_string_here</code>
					</div>
				</div>

				<h3 id="api-integration" class="mt-5">API Integration</h3>
				<h4 id="openai-api-integration" class="mt-3">OpenAI API Integration</h4>
				<p>Integrate OpenAI's API to analyze the content of uploaded resumes and generate career path
					recommendations. Ensure proper configuration and handling of API requests to maintain performance
					and reliability. The following steps are required to ensure OpenAI’s API integration is successfully
					implemented:</p>
				<ol>
					<li>Sign in to your OpenAI account:
						<ul>
							<li>
								<p><a class="page-link" href="https://platform.openai.com">OpenAI Platform</a></p>
							</li>
						</ul>
					</li>
					<li>Steps for generating your API key:
						<ul>
							<li>Click on your profile icon.</li>
							<li>Select the option <strong>Your Profile</strong>.</li>
							<li>Under <strong>User API Keys</strong>, create a new secret key.</li>
						</ul>
					</li>
				</ol>
				<p><strong>Note:</strong> Although OpenAI provides some free tokens, they may not be sufficient to
					achieve the desired results for this project. It is highly recommended to fund your account for a
					better experience.</p>

				<h3 id="database-management" class="mt-5">Database Management</h3>
				<h4 id="mongodb-setup" class="mt-3">MongoDB Setup</h4>
				<p>Configure MongoDB to store user interaction data, including uploaded resumes and generated career
					path suggestions. This enables the application to maintain a history of user interactions and
					provide better insights over time.</p>

				<h4 id="resume-upload-handling" class="mt-5">Resume Upload Handling</h4>
				<p>Implement functionality to handle resume file uploads securely and efficiently. Use Multer middleware
					for managing file uploads and ensure that uploaded files are stored in the designated directory.</p>

				<h4 id="career-path-analysis" class="mt-5">Career Path Analysis</h4>
				<p>Develop the core functionality to analyze uploaded resumes using OpenAI's API. Process the resume
					content, send it to OpenAI for analysis, and interpret the results to suggest suitable career paths.
				</p>
				<ol>
					<li><strong>Preparation of the Directive:</strong> A detailed directive is created, instructing the
						AI on how to analyze the resume. The directive includes specific instructions on generating a
						structured JSON response covering various aspects such as summary, career path, strong skills,
						suggested learning, suggested certifications, industry trends, and salary expectations.</li>
					<li><strong>Integration with OpenAI's API:</strong> The application uses the OpenAI API to process
						the resume content. This involves sending a POST request to the OpenAI endpoint with the
						prepared directive and the resume text.</li>
					<li><strong>Sending the Request:</strong> The POST request includes the model specification,
						messages, token limit, and headers for authorization and content type.</li>
					<li><strong>Receiving the Response:</strong> The OpenAI API processes the request and returns a
						response containing the AI-generated suggestions in JSON format.</li>
					<li><strong>Parsing the Response:</strong> The application parses the JSON response to extract the
						relevant information, ensuring it is well-formatted and free of errors.</li>
					<li><strong>Providing Career Suggestions:</strong> The parsed response is used to provide the user
						with career path suggestions, including a summary, career path overview, strong skills,
						suggested learning, suggested certifications, industry trends, and salary expectations.</li>
				</ol>

				<h4 id="error-handling" class="mt-5">Error Handling</h4>
				<p>Implement robust error handling to manage unexpected issues gracefully. Ensure that errors are logged
					and that users receive appropriate feedback in case of problems during file upload, API interaction,
					or other operations.</p>

				<h4 id="testing-and-validation" class="mt-5">Testing and Validation</h4>
				<p>Conduct thorough testing to validate the functionality of the application. Perform unit tests,
					integration tests, and user acceptance tests to ensure the application meets all requirements and
					provides a seamless user experience.</p>

				<h4 id="conclusion" class="mt-5">Conclusion</h4>
				<p>CareerCraft leverages modern web technologies and AI capabilities to offer personalized career
					guidance. By analyzing user resumes and providing tailored career path suggestions, CareerCraft aims
					to simplify the job-seeking process and help users make informed career decisions.</p>

				<h4 id="references" class="mt-5">References</h4>
				<ul>
					<li>
						<p>MongoDB Documentation: <a class="page-link"
								href="https://www.mongodb.com/docs/">https://www.mongodb.com/docs/</a></p>
					</li>
					<li>
						<p>OpenAI Documentation: <a class="page-link"
								href="https://platform.openai.com/docs/quickstart?context=node">https://platform.openai.com/docs/quickstart?context=node</a>
						</p>
					</li>
					<li>
						<p>Express Documentation: <a class="page-link"
								href="https://expressjs.com/">https://expressjs.com/</a></p>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>