<div class="row flex-grow-1">
	<div class="col-lg-3 d-flex">
		<div class="card w-100 history-card">
			<div class="card-body">
				<h5 class="card-title mb-4 history-text">History</h5>
				<ul class="navbar-nav navbar-dark" id="suggestionList">
				</ul>
			</div>
		</div>
	</div>
	<div class="col-lg-9 d-flex">
		<div class="card w-100">
			<div class="card-body">
				<form id="resumeForm">
					<div class="input-group dark-input-group mb-4 d-flex align-items-center">
						<span class="input-group-text upload-icon d-flex justify-content-center" id="uploadButton"><i
								class="fa-solid fa-paperclip"></i></span>
						<textarea name="resumeText" id="resumeText" class="form-control" aria-label="With textarea"
							rows="5" placeholder="Paste resume text here..."></textarea>
					</div>
					<input type="file" class="form-control-file d-none" id="resumeFile" name="resumeFile"
						accept=".pdf, .docx">
					<button class="btn btn-sm btn-secondary position-absolute shadow" id="sendButton" type="submit"><i
							class="fa-solid fa-arrow-up"></i>
						<div class="spinner-border spinner-border-sm text-light d-none" role="status"
							id="loadingSpinner">
							<span class="sr-only">Loading...</span>
						</div>
					</button>
				</form>
				<div id="results"></div>
			</div>
		</div>
	</div>
</div>
<script src="/js/analyze.js" defer></script>