<div class="row flex-grow-1">
	<div class="col-lg-3 d-flex">
		<div class="card w-100">
			<div class="card-body">
				<h5 class="card-title mb-4">History</h5>
				<ul class="navbar-nav navbar-dark">
					<li class="nav-item">
						<a class="nav-link" href="#">Contributors</a>
					</li>
					<li class="nav-item">
						<a class="nav-link pe-0" href="#">Documentation</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<div class="col-lg-9 d-flex">
		<div class="card w-100">
			<div class="card-body">
				<form id="resumeForm">
					<div class="input-group dark-input-group mb-4 d-flex align-items-center">
						<span class="input-group-text upload-icon d-flex justify-content-center" id="uploadButton"><i
								class="fa-solid fa-paperclip"></i></span>
						<textarea name="resumeText" id="resumeText" class="form-control" aria-label="With textarea"
							rows="1" placeholder="Paste resume text here..."></textarea>
					</div>
					<input type="file" class="form-control-file d-none" id="resumeFile" name="resumeFile"
						accept=".pdf, .docx">
					<button class="btn btn-sm btn-secondary" type="submit">Send</button>
				</form>
				<h2>Results</h2>
				<div id="results"></div>
			</div>
		</div>
	</div>
</div>
<script>
	document.getElementById('uploadButton').addEventListener('click', function () {
		document.getElementById('resumeFile').click();
	});

	//document.getElementById('resumeFile').addEventListener('change', function () {
		// Optionally show the file name or handle the file selection
		//console.log(this.files[0].name);
	//});

	document.getElementById('resumeForm').addEventListener('submit', function (e) {
		e.preventDefault();
		const formData = new FormData(this);
		const fileInput = document.getElementById('resumeFile');
		const textInput = document.getElementById('resumeText').value.trim();

		if (fileInput.files.length > 0) {
			formData.append('resumeFile', fileInput.files[0]);
		}


		if (!fileInput.files.length && !textInput) {
			document.getElementById('results').innerHTML = '<p>Please provide either resume text or upload a file.</p>';
			return;
		}

		axios.post('/process-data', formData)
			.then(response => {
				const formattedData = response.data.formattedData;
				const resultsContainer = document.getElementById('results');

				resultsContainer.innerHTML = `
					<h4>Summary</h4>
					<p>${formattedData.summary}</p>
					<h4 class="mt-5">Industry Trends</h4>
					<p>${formattedData.industryTrends}</p>
					<h4 class="mt-5">Career Path</h4>
					<ul>
					${formattedData.careerPath.map(item => `
						<li>
						<strong>${item.role} (${item.percentageMatch}%)</strong>
						<p>${item.overview}</p>
						</li>
					`).join('')}
					</ul>
					<h4 class="mt-5">Salary Expectations</h4>
					<p>
						${Object.entries(formattedData.salaryExpectations).map(([role, salaryRange]) => `
						<strong>${role}:</strong> ${salaryRange}
						`).join('<br>')}
					</p>
					<h4 class="mt-5">Strong Skills</h4>
					 ${formattedData.strongSkills.map((category, index) => `
						<div>
						<strong>${category.category}:</strong>
						<p>${category.summary}</p>
						<ul>
							${category.skills.map(skill => `<li>${skill}</li>`).join('')}
						</ul>
						</div>
					`).join('')}
					<h4 class="mt-5">Suggested Learning</h4>
					<ul>${formattedData.suggestedLearning.map(item => `
					<li>
						<strong>${item.skill}</strong>
						<p>${item.explanation}</p>
					</li>
					`).join('')}</ul>
					<h4 class="mt-5">Suggested Certifications</h4>
					<ul>${formattedData.suggestedCertifications.map(cert => `
					<li>
						<strong>${cert.name}</strong>: <a href="${cert.link}" target="_blank">${cert.link}</a>
						<p>${cert.description}</p>
					</li>
					`).join('')}</ul>
				`;
			})
			.catch(error => {
				console.error('Error:', error);
				document.getElementById('results').innerHTML = '<p>An error occurred. Please try again.</p>';
			});
	});
</script>