<div class="row flex-grow-1">
	<div class="col-lg-12 d-flex">
		<div class="card w-100">
			<div class="card-body">
				<form id="resumeForm">
					<div class="input-group dark-input-group mb-4 d-flex align-items-center">
						<input name="resumeText" id="resumeText" class="form-control" type="text"
							placeholder="Paste resume text here..." />
					</div>
					<input type="file" class="form-control-file d-none" id="resumeFile" name="resumeFile"
						accept=".pdf, .docx">
					<button class="btn btn-sm btn-secondary position-absolute shadow" id="sendButton" type="submit"><i
							class="fa-solid fa-arrow-up"></i>
						<div class="spinner-border spinner-border-sm text-light d-none" role="status"
							id="loadingSpinner">
							<span class="sr-only">Loading...</span>
						</div>
					</button>
				</form>
				<div id="results"></div>
			</div>
		</div>
	</div>
</div>
<script src="/js/analyze.js" defer></script>